body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: black;
}

.user-profile {
  border: 1px solid black;
  padding: 20px;
}

.profile-component {
  margin: 10px 0;
  padding: 10px;
}

.awards {
  border: 1px solid blue;
}

.contact {
  border: 1px solid green;
}

.education {
  border: 1px solid yellow;
}

.experience {
  border: 1px solid orange;
}

.info {
  border: 1px solid red;
}

.portfolio {
  border: 1px solid pink;
}

.skills {
  border: 1px solid purple;
}

.summary {
  border: 1px solid blue;
}






