.options-container {
  display: flex;
  .option-row {
    width: max-content;
    padding: 10px;
    background-color: #d4ffff;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
    div {
      padding: 5px;
      margin-bottom: 4px;
    }
    .not-selected {
      background-color: #fff;
    }
    .disabled {
      pointer-events: none;
      cursor: no-drop;
    }
    .selected {
      background-color: #68c85c;
      color: green;
    }
  }
}

.efficiency-options:hover {
  cursor: pointer;
}


.remove {
  border-radius: 50%;
  background-color: red;
  color: white;
}

.add {
  border-radius: 50%;
  background-color: green;
  color: white;
}

.remove:hover, .add:hover {
  cursor: pointer;
}

#parent-container {
  border-radius: 20px;
  border: 1px solid;
  text-align:center;
  #left {
    float:left;
    width: 20px;
  }

  #center {
    display: inline-block;
    margin:0 auto;
  }

  #right {
    float:right;
    width: 20px;
  }
}





